body{box-sizing: border-box;
}
h1{
  color: rgb(16, 65, 65);
}

.login-container{
    width: 40rem;
    height: 30rem;
    margin: 5rem auto 0 auto;
    text-align: center;
}
.page-switcher{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.page-switcher-item button{
   border: 0;
padding: 10px 30px;
margin-right: 0.7rem;

background: mediumturquoise;
line-height: 1.5;
letter-spacing: 0.2rem;
font-size: 1rem;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}
.page-switcher-item button:hover, .login-btn button:hover, .register-btn button:hover{
      background: rgb(16, 65, 65);
}

.login-btn button{
    padding: 10px 30px;
    border: 0;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    font-size: 1rem;
      transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}

.register-btn{
    margin-top:1rem;
}

.register-btn button{
       padding: 10px 30px;
    border: 0;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    font-size: 1rem;
      transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}
.form{
    display: flex;
    flex-direction: column;
}

input{
    width: 16rem;
    height: 2rem;
    margin-top: 16px;
    text-align: center;
    border: 4px solid mediumturquoise;
}

/* .LoginContainer{
    background-color:lightgreen;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.page-switcher{
    display: flex;
}
.page-switcher div{
    padding: 8px;
}

.LoginForm{
    background-color: white;
    padding: 16px;
    border-radius: 6px;
}

.btn{
    background-color: rgb(16, 99, 16);
    color: white;
    text-align: center;
    margin-top: 8px;
    border-radius: 6px;
    padding: 8px 4px;
} */